In [2]:
preds

predict,p0,p1
1,1.86517e-14,1
0,1,2.99023e-14
1,3.35287e-14,1
1,1.88738e-14,1
1,1.86517e-14,1
1,4.04121e-14,1
0,1,2.9933e-14
0,1,3.15739e-14
1,1.95399e-14,1
0,1,2.99107e-14

In [2]:
# Import H2O
import h2o
h2o.init()

# Load test
test = h2o.import_file("./data/test.csv")

# Load the model
my_model = h2o.load_model("./models/GLM_1_AutoML_1_20221124_124917")

# Predict
predictions = my_model.predict(test)

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 13.0.2+8, mixed mode, sharing)
  Starting server from C:\Users\Carles\miniconda3\envs\ironhack\Lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\Carles\AppData\Local\Temp\tmp3ilrmey4
  JVM stdout: C:\Users\Carles\AppData\Local\Temp\tmp3ilrmey4\h2o_Carles_started_from_python.out
  JVM stderr: C:\Users\Carles\AppData\Local\Temp\tmp3ilrmey4\h2o_Carles_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  -----------------------------
H2O_cluster_uptime:         09 secs
H2O_cluster_timezone:       Europe/Madrid
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.38.0.3
H2O_cluster_version_age:    23 hours and 5 minutes
H2O_cluster_name:           H2O_from_python_Carles_1gik2t
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    2.971 Gb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.10.8 final
--------------------------  -----------------------------

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
glm prediction progress: |███████████████████████████████████████████████████████| (done) 100%

In [3]:
predictions

  predict           p0           p1
---------  -----------  -----------
        1  3.98614e-12  1
        0  0.999991     8.6096e-06
        1  5.25402e-10  1
        1  1.41882e-10  1
        1  0            1
        1  4.7913e-05   0.999952
        0  0.999999     5.53086e-07
        0  1            4.90748e-08
        1  4.61853e-14  1
        0  1            7.44219e-08
[80 rows x 3 columns]

In [5]:
import pandas as pd
pd.read_csv("./data/chronic_disease_db_clean.csv")

,Patient,Blood Pressure mm/Hg diastolic,Albumin (0-5),Sugar (0-5),Blood Urea mg/dL,Serum Creatinine mg/dL,Hypertension Yes/No,CKD Yes/No
0,1,80,1,0,36,1.2,1,1
1,2,50,4,0,18,0.8,0,1
2,3,80,2,3,53,1.8,0,1
3,4,70,4,0,56,3.8,1,1
4,5,80,2,0,26,1.4,0,1
...,...,...,...,...,...,...,...,...
395,396,80,0,0,49,0.5,0,0
396,397,70,0,0,31,1.2,0,0
397,398,80,0,0,26,0.6,0,0
398,399,60,0,0,50,1.0,0,0
399,400,80,0,0,18,1.1,0,0